.nav-bar {
  padding: 5px;
  border-bottom: 2px solid #014;
}

.logo {
  height: 50px;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.nav-links a {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 30px;
}

.nav-link-1::before {
  content: '';
  height: 30px;
  width: 30px;
  display: inline-block;
  background: url('https://static.thenounproject.com/png/709938-200.png');
  background-size: contain;
  vertical-align: middle;
  margin-right: 2px;
}

.nav-link-2::before {
  content: '';
  height: 30px;
  width: 30px;
  display: inline-block;
  background: url('https://cdn0.iconfinder.com/data/icons/messaging-colored/80/search-chat-message-512.png');
  background-size: contain;
  vertical-align: middle;
  margin-right: 2px;
}
